---
import Layout from "@layouts/Layout.astro";
import SampleComponent from "@components/SampleComponent.astro";
import Container from "@components/Container.astro";
import AstroLogo from "@assets/images/astro-logo-light-gradient.png";
import { Content as SampleMarkdown } from "@content/sample-markdown.md";
import { Assets } from "astro:assets";
import ProjectButton from "@components/ProjectButton.astro";

---

<Layout title="Astro Starter">
  <nav id="navtop">
    <a href="../"><img class="logo" src="/SampleLogo-White-16.png"></img></a>
    <div class="links">
      <a href="/projects/sample" class="navLink">link</a>
      <a href="/projects/sample" class="navLink">link</a>
      <a href="/projects/sample" class="navLink">link</a>
    </div>
  </nav>
  <div class="heroContain">
    <img class="heroImg" src="/SampleLogo-Full-19.png" />
  </div>
  <Container>
    <!-- <ProjectButton link="sample" type="Branding & Logo Design"/> -->
    <div class="intro">
      <p style="width: 500px;">Esports Visualized is a project dedicated to promoting and growing the community of Esports through graphic design and promotional material! It serves as a resource for any creatives looking to delve into the world of designing for Esports. Take a look through the many breakdowns below dedicated to designing for each different facet of Esports. We hope to encourage people to get involved and interested in this incredible industry.
      </br> To learn more about this project <a href="www.wikipedia.com">click here</a>
      </br> To learn more about what Esports is <a href="www.wikipedia.com">click here</a></p>
      <img src="/SampleLogo-Color-14.png" style="width: 300px;"></img>
    </div>
  </Container>
  <div id="scrollContain">
    <div class="arrowL"> &lt </div>
    <div class="arrowR"> &gt </div>
    <a class="case"></a>
    <a class="case"></a>
    <a class="case"></a>
    <a class="case"></a> 
  </div>
  <footer>
    <div class="footLinks">
      <a href="/projects/sample" class="fnavLink">link</a>
      <a href="/projects/sample" class="fnavLink">link</a>
      <a href="/projects/sample" class="fnavLink">link</a>
    </div>
  </footer>
</Layout>

<script>
  window.addEventListener('scroll', function() {
  const navbar = document.getElementById('navtop');
  if (window.scrollY > 120) // Shows after 100px of scrolling
  { 
    navbar?.classList.add('show');
  } else {
    navbar?.classList.remove('show');
  }
});

 const arrowL = document.querySelector(".arrowL");
 const arrowR = document.querySelector(".arrowR");
 const scrollBox = document.getElementsByClassName(".scrollContain");

 const scrollL = function () {
    // alert("YOU'VE BEEN CLICKED!!");
    document.getElementById('scrollContain').scrollLeft -= ((document.getElementById('scrollContain').scrollWidth)/4);
 };

 const scrollR = function () {
    // alert("YOU'VE BEEN CLICKED!!");
    document.getElementById('scrollContain').scrollLeft += ((document.getElementById('scrollContain').scrollWidth)/4);
 };

 arrowL?.addEventListener("click", scrollL);
 arrowR?.addEventListener("click", scrollR);

</script>

<style>

  /* navigation styling */
    nav{
    position: fixed;
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    background-color: var(--color-background);
    z-index: 100;
  }

  #navtop {
  top: -100px; /* Hide above the screen */
  transition: top 0.5s; /* Smooth animation */
  }
  #navtop.show {
    top: 0; /* Slide into view */
  }

  .links{
    margin: 20px;
    align-content: center;
  }
  .navLink{
    /* padding: 20px; */
    font-size: 24px;
    color: white;
  }
  .logo{
    width: 100px;
    margin-left: 20px;
    padding: 5px;
  }

/* hero image */
  .heroImg{
    width: 80vw;
    max-width: 1500px;
  }
  .heroContain{
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*Center Content*/
  .intro{
    display: flex;
    
  }

  .intro a{
    color: var(--color-accent);
  }
  .intro a:hover{
    background-color: var(--color-accent);
    color: var(--color-focus-ring);
  }
  .intro a:visited{ color: var(--color-focus-ring); }
  .intro a:visited:hover{ background-color: var(--color-focus-ring); color: var(--color-accent);}

  /* footer content */
  footer{
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    height: 100px;
    background-color: var(--color-background);
  }
  .footLinks{
    margin: 20px;
    align-content: center;
  }
  .fnavLink{
    color: white;
    font-size: 24px;
  }

  /*Scroll Content*/

  .arrowL, .arrowR{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7vw;
    height: 40vw;
    /* background-color: var(--color-accent); */
    border: 5px solid var(--color-accent);
    color: var(--color-accent);
    border-radius: 10px;
    opacity: 35%;
    font-size: 10vw;
    z-index: 0;
  }

  .arrowL{ left: 1.7vw; }
  .arrowR{ right: 1.7vw; }

  .arrowL:hover, .arrowR:hover{
    opacity: 100%;
  }

  #scrollContain{
    align-content: center;
    margin-top: 50px;
    padding-left: 10vw;
    margin-bottom: 50px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    height: 44vw;
    /* border: 10px solid var(--color-accent); */
  }
  .case{
    display: inline-block;
    scroll-snap-align: center;
    width: 80vw;
    height: 40vw;
    margin-right: 10vw;
    border-radius: 20px;
    border: 10px solid #ff660050;
    border-opacity: 50;
  }
</style>