---
import { Image } from "astro:assets";
const { link } = Astro.props;
const { type } = Astro.props;
import type { astroCalledServerError } from "astro:actions";
---

<div class="button">
    <a href=`/projects/${link}`>{type}</a>
</div>

<style>
    .button{
        padding: 50px;
        margin: 20px;
        text-decoration: none;
        background-color: white;
        color: black;
    }
</style>