---
import Container from "@components/Container.astro";
import Layout from "@layouts/Layout.astro";

import { type CollectionEntry, getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("projects");
  return posts.map((project) => ({
    params: { id: project.id },
    props: project,
  }));
}

const post = Astro.props;
// This gets the main content from the markdown file and 
// turns it into an Astro component: <Content />
const { Content } = await render(post);
---

<Layout title={post.data.title}>
  <nav>
    <div class="links">
      <a href="/projects/sample" class="navLink">link</a>
      <a href="/projects/sample" class="navLink">link</a>
      <a href="/projects/sample" class="navLink">link</a>
    </div>
    <a href="../"><img class="logo" src="/SampleLogo-Color-14.png"></img></a>
  </nav>
  <Container>
    <h1>{post.data.title}</h1>
    <Content />
  </Container>
</Layout>

<style>
  nav{
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: flex-end;
    width: 100vw;
    height: 100px;
  }
  .links{
    margin: 20px;
    align-content: center;
  }
  .navLink{
    margin: 10px;
    padding: 20px;
    font-size: 24px;
    background-color: white;
    color: black;
  }
  .logo{
    width: 150px;
    height: 150px;
    margin: 20px;
  }
</style>